<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MuliaLestari_CatalogML::catalogml" title="Catalog ML" module="MuliaLestari_CatalogML" sortOrder="100" parent="Magento_Catalog::catalog" resource="MuliaLestari_CatalogML::catalogml" action="mlprodukgrid/produkmulia"/>
    </menu>
</config>
