<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="products_grid_data_source" xsi:type="string">MuliaLestari\MasterProducts\Model\ResourceModel\Product\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="MuliaLestari\MasterProducts\Model\ResourceModel\Product\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">catalogml_produk</argument>
            <argument name="eventPrefix" xsi:type="string">mulialestari_product_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">mulialestari_product_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">MuliaLestari\MasterProducts\Model\ResourceModel\Product</argument>
        </arguments>
    </type>
    <virtualType name="ProductGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">MuliaLestari\MasterProducts\Model\ResourceModel\Product\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ProductGrrdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="ProductGrrdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
</config>
